<div style="background-color: #3B3D47;">
    <div class="container logo">
        <nav class="navbar navbar-light navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" >
                    </a><div><a class="navbar-brand"></a><a routerLink="/home" routerLinkActive="active" href="#"><img class="logo-img-size" src="assets/img/coffee-stop-logo-v2.png"></a></div>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mx-auto">
                        <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link active header-menu-color-padding" routerLink="/home" routerLinkActive="active" href="#">Home</a></li>
                        <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" href="#HW-1">About</a></li>
                        <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" href="#">Partner</a></li>
                        <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" href="#">Blog</a></li>
                        <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" href="#">Press</a></li>
                        <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" routerLink="/contact" routerLinkActive="active" href="#">Contact</a></li>
                        <li class="nav-item nav-item-menu-padding login-d2-none" role="presentation"><a class="nav-link header-menu-color-padding" style="color:#ffffff;" routerLink="/login_signup" routerLinkActive="active" href="#"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></li>
                    </ul>
                </div>
                <div class="login-d-none"><a class="header-menu-color-padding" style="color:#ffffff;" routerLink="/login_signup" routerLinkActive="active" href="#"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></div>
            </div>
        </nav>
    </div>
</div>
