<form id="loginfrm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <h1 class="head-font-login">Welcome Back!<br></h1>
                        <div style="display: table-cell;height: 400px;width: 800px;">
                            <div class="input-div-ali"><input class="form-control btn-input-login" type="email" id="Email-Id-login" placeholder="Email Address" formControlName="email" placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                              <div *ngIf="submitted && f.email.errors" class="error">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                            </div>
                            <div class="input-div-ali"><input class="form-control btn-input-login" type="password" id="password-login" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                              <div *ngIf="submitted && f.password.errors" class="error">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div  class="message">
                                    <div style="margin: auto;">
                                        <p class="letter valid">A lowercase letter</p>
                                        <p class="invalid capital">A capital (uppercase) letter</p>
                                        <p class="number valid">A number</p>
                                        <p class="length valid">Minimum 8 characters</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="forgot-d"><a class="forgot-color" href="#">Forgot Password?<br></a></div>
                            <div style="height: 40px;"></div>
                            <div class="input-div-btn"><button class="btn btn-danger" id="login-btn" style="border: none;width: 75%;height: 58px;margin-left: 14px;background-color: #3b3d47;color: rgb(255,255,255);margin-top: 12px;" type="submit">Log In</button></div>
                        </div>
                    </form>
