.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #C9AD85;
  border-color: #C9AD85;
}

a:hover {
  color: #C9AD85;
  text-decoration: underline;
}

a:hover {
  color: #C9AD85;
  text-decoration: underline;
}

a {
  color: #C9AD85 !important;
  text-decoration: none;
  background-color: transparent;
}

@media (min-width: 300px) {
  .nav-tabs {
    border-bottom: 1px solid #C9AD85;
    width: 96%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 576px) {
  .nav-tabs {
    border-bottom: 1px solid #C9AD85;
    width: 85%;
    display: flex !important;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .nav-tabs {
    border-bottom: 1px solid #C9AD85;
    width: 96%;
  }
}

@media (min-width: 992px) {
  .nav-tabs {
    border-bottom: 1px solid #C9AD85;
    width: 96%;
  }
}

@media (min-width: 1200px) {
  .nav-tabs {
    border-bottom: 1px solid #C9AD85;
    width: 92%;
    margin: 30px;
  }
}

@media (min-width: 300px) {
  .tab-login-border {
    border-bottom: 1px solid #31373a;
    width: 85%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .tab-login-border {
    border-bottom: 1px solid #31373a;
    width: 92%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .tab-login-border {
    border-bottom: 1px solid #31373a;
    width: 92%;
    margin: 30px;
  }
}

@media (min-width: 992px) {
  .tab-login-border {
    border-bottom: 1px solid #31373a;
    width: 92%;
    margin: 30px;
  }
}

@media (min-width: 1200px) {
  .tab-login-border {
    border-bottom: 1px solid #31373a;
    width: 92%;
    margin: 30px;
  }
}

.h2-features {
  color: #C9AD85;
}

.li-list {
  width: 100%;
  padding-top: 5px;
}

.Tab-size {
  width: 73%;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  padding-left: 0px;
}

.features {
  padding-bottom: 45px;
  height: auto;
}

.features-III-div {
  background-color: #eee;
  padding-bottom: 65px;
}

.Feat-III-con {
  padding-top: 55px;
  padding-bottom: 75px;
}

.Feat-III-Heading {
  color: #C9AD85;
}

.card-head-div {
  width: 100%;
  height: 155px;
  background-color: rgb(206,180,145);
  border-radius: 15px 15px 0px 0px;
  align-items: center !important;
  display: flex;
  justify-content: center;
}

.feat-card-heading {
  text-align: center;
  color: #C9AD85;
  font-size: 18px;
  padding: 25px 0px 3px 0px;
}

.feat-card-p {
  text-align: center;
  color: #cfc3b3;
  font-size: 12px;
}

.feat-card-bottom {
  background-color: #3a3d46;
  padding-bottom: 45px;
}

.fe-card-icon {
  font-size: 100px;
  color: #fff;
}

.fe-div-III {
  margin-left: 50px;
  margin-top: 55px;
}

.list-ul {
  list-style: none;
}

.list-ul li:before {
  color: #caac86;
  font-size: 29px;
  content: '✓';
  position: absolute;
  left: -25px;
}

.fe-III-heading {
  color: #c9ad85;
}

@media (min-width: 300px) {
  .ho-II-cir-main-div {
    width: 100px;
    height: 100px;
    position: relative;
  }
}

@media (min-width: 576px) {
  .ho-II-cir-main-div {
    width: 100px;
    height: 100px;
    position: relative;
  }
}

@media (min-width: 768px) {
  .ho-II-cir-main-div {
    width: 100px;
    height: 100px;
    position: relative;
  }
}

@media (min-width: 992px) {
  .ho-II-cir-main-div {
    width: 100px;
    height: 100px;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .ho-II-cir-main-div {
    width: 100px;
    height: 100px;
    position: relative;
  }
}

.ho-circle-heading {
  position: absolute;
  bottom: -68px;
  width: 150px;
  text-align: center;
  right: -26px;
  color: #fff;
}

.kp-body {
  background-color: #f4f5f9;
  width: 100%;
  padding-bottom: 4em;
}

.KP-head {
  padding-top: 3em;
  padding-bottom: 3em;
}

.KP-heading {
  color: #C9AD85;
}

.KP-P {
  text-align: center;
}

.Kp-line-div {
  display: flex;
  padding-top: 3px;
  float: left;
  align-items: center;
}

.KP-line-center {
  display: flex;
  justify-content: center !important;
}

.KP-icon {
  padding-left: 10px;
  padding-right: 10px;
}

.msg {
  height: 100px !important;
}

.info-heading {
  color: #C9AD85;
  padding-top: 38px;
}

.info-body {
  /*background-color: #fff;*/
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

@media (min-width: 300px) {
  .col-11.col-sm-9.col-md-4.col-lg-4.col-xl-4 {
    padding-bottom: 40px;
  }
}

@media (min-width: 576px) {
  .col-11.col-sm-9.col-md-4.col-lg-4.col-xl-4 {
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .col-11.col-sm-9.col-md-4.col-lg-4.col-xl-4 {
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .col-11.col-sm-9.col-md-4.col-lg-4.col-xl-4 {
    padding-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .col-11.col-sm-9.col-md-4.col-lg-4.col-xl-4 {
    padding-bottom: 0px;
  }
}

@media (min-width: 300px) {
  .ht-display {
    display: none;
  }
}

@media (min-width: 576px) {
  .ht-display {
    display: none;
  }
}

@media (min-width: 768px) {
  .ht-display {
    display: block;
  }
}

@media (min-width: 992px) {
  .ht-display {
    display: block;
  }
}

@media (min-width: 1200px) {
  .ht-display {
    display: block;
  }
}

@media (min-width: 300px) {
  .ht-display-mobile {
    display: block;
  }
}

@media (min-width: 576px) {
  .ht-display-mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .ht-display-mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .ht-display-mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .ht-display-mobile {
    display: none;
  }
}

.cir-padding {
  padding-bottom: 15px;
}

@media (min-width: 300px) {
  .col-padding-II {
    padding-bottom: 30%;
  }
}

@media (min-width: 576px) {
  .col-padding-II {
    padding-bottom: 20%;
  }
}

@media (min-width: 768px) {
  .col-padding-II {
    padding-bottom: 0%;
  }
}

@media (min-width: 992px) {
  .col-padding-II {
    padding-bottom: 0%;
  }
}

@media (min-width: 1200px) {
  .col-padding-II {
    padding-bottom: 0%;
  }
}

@media (min-width: 300px) {
  .info-holder {
    text-align: center;
    padding-bottom: 15px;
  }
}

@media (min-width: 576px) {
  .info-holder {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .info-holder {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .info-holder {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .info-holder {
    text-align: left;
  }
}

@media (min-width: 300px) {
  .info-sent {
    padding-top: 20px;
  }
}

@media (min-width: 576px) {
  .info-sent {
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .info-sent {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .info-sent {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .info-sent {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 30px;
  }
}

@media (min-width: 300px) {
  .ft-img-top-padding {
    padding-top: 20px;
  }
}

@media (min-width: 576px) {
  .ft-img-top-padding {
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .ft-img-top-padding {
    padding-top: 20px;
  }
}

@media (min-width: 992px) {
  .ft-img-top-padding {
    padding-top: 0px;
  }
}

@media (min-width: 1200px) {
  .ft-img-top-padding {
    padding-top: 0px;
  }
}

.Header-color-sh {
  background-color: rgba(58,61,70,0.75);
  width: 100%;
  height: auto;
}

.cri-div-center {
  margin: auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 300px) {
  .Test-div-size {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 576px) {
  .Test-div-size {
    width: 75%;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .Test-div-size {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .Test-div-size {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .Test-div-size {
    width: 85%;
    margin: auto;
  }
}

@media (min-width: 300px) {
  .swiper-button-next {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: none;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .swiper-button-next {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: none;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .swiper-button-next {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .swiper-button-next {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .swiper-button-next {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 300px) {
  .swiper-button-prev {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: none;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .swiper-button-prev {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: none;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .swiper-button-prev {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .swiper-button-prev {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .swiper-button-prev {
    border: 1px solid rgba(201,173,133,0.77);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(201,173,133,0.77);
    background-image: none !important;
    font-size: 18px;
    color: #82602f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ul-bull {
  list-style: none;
}

.ul-bull {
  list-style: none;
}

.ul-bull li:before {
  content: "•";
  color: rgb(201,173,133);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 25px;
}

.swiper-pagination-bullet-active {
  background: #bea480 !important;
}

.fa.fa-th-list {
}

@media (min-width: 300px) {
  .nav.navbar-nav.mx-auto {
    float: right;
    text-align: right;
  }
}

@media (min-width: 576px) {
  .nav.navbar-nav.mx-auto {
    float: right;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .nav.navbar-nav.mx-auto {
    float: right;
    text-align: right;
  }
}

@media (min-width: 992px) {
  .nav.navbar-nav.mx-auto {
    float: none;
  }
}

@media (min-width: 1200px) {
  .nav.navbar-nav.mx-auto {
    float: none;
  }
}

.nav-tab-login {
  width: 50%;
  text-align: center;
  height: 65px;
}

.l-login {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #31373a !important;
}

.l-login.active {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #31373a !important;
  color: #fff;
}

.l-login:hover {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(49,55,58,0.9) !important;
  color: #fff !important;
}

.tab-content-ali {
  display: flex;
  justify-content: center;
}

.btn-input-login {
  margin: 15px;
  height: 40px;
}

.btn-input {
  width: auto;
  margin: 15px;
  height: 40px;
}

.input-div-ali {
  display: flex;
  justify-content: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  position: relative;
}

.input-div-signup {
  display: flex;
  justify-content: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.input-div-btn {
  display: flex;
  justify-content: center !important;
  padding-top: 10px;
  padding-bottom: 24px;
}

.forgot-d {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
}

.forgot-color {
  color: #3b3d47 !important;
  font-size: 18px;
  padding-right: 10px;
  font-weight: 600;
}

.head-font-login {
  color: #31373a;
}

.login-body-color {
  color: #C9AD85;
}

.btn-color-login:hover {
  background-color: #C9AD85;
  box-shadow: none !important;
  border: none;
}

.btn-color-login:focus {
  background-color: rgba(201,173,133,0.83);
  box-shadow: none !important;
  border: none;
}

.btn-color-login:active {
  background-color: rgba(201,173,133,0.83) !important;
  box-shadow: none !important;
  border: none;
}

.btn-color-login {
  background-color: rgba(201,173,133,0.83);
  box-shadow: none !important;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.span-login-color {
  background-color: #C9AD85;
  width: 35px;
  text-align: center;
  height: 38px;
}

.login-icon-color {
  color: #fff;
}

.login-card {
  height: auto;
  display: flex;
  justify-content: center;
}

.reqmsg {
  color: #e84949;
}

.name-d-signup {
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 300px) {
  .message {
    display: none;
    color: #000;
    position: relative;
    margin-top: 10px;
    width: 230px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    position: absolute;
    bottom: -90px;
    background-color: #fff;
    margin: auto;
  }
}

@media (min-width: 576px) {
  .message {
    display: none;
    color: #000;
    position: relative;
    margin-top: 10px;
    width: 230px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    position: absolute;
    bottom: -90px;
    background-color: #fff;
  }
}

@media (min-width: 768px) {
  .message {
    display: none;
    color: #000;
    position: relative;
    margin-top: 10px;
    width: 280px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    position: absolute;
    bottom: -90px;
    background-color: #fff;
  }
}

@media (min-width: 992px) {
  .message {
    display: none;
    color: #000;
    position: relative;
    margin-top: 10px;
    width: 230px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    position: absolute;
    bottom: -90px;
    background-color: #fff;
  }
}

@media (min-width: 1200px) {
  .message {
    display: none;
    color: #000;
    position: relative;
    margin-top: 10px;
    width: 230px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    position: absolute;
    bottom: -90px;
    background-color: #fff;
  }
}

.message::before {
  display: none;
  content: "\25B2";
  color: #ddd;
  position: absolute;
  top: -25px;
  left: 45%;
}

.message p {
  padding-left: 23px;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -10px;
  content: "✖";
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -10px;
  content: "✔";
}

.error {
  color: red;
  padding-left: 15px;
}

label.error {
  display: inline;
}

.input-form-al {
  display: flex;
}

@media (min-width: 300px) {
  .con-btn-size {
    width: 100%;
    display: grid;
  }
}

@media (min-width: 576px) {
  .con-btn-size {
    width: 100%;
    display: grid;
  }
}

@media (min-width: 768px) {
  .con-btn-size {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .con-btn-size {
    width: 100%;
    display: grid;
  }
}

@media (min-width: 1200px) {
  .con-btn-size {
    width: 100%;
    display: grid;
  }
}

.icon-div-con {
  display: flex;
  margin-right: -1px;
  width: 35px;
  height: 38px;
}

.con-btn-size .error {
  padding-left: 0px;
  padding-top: 10px;
}

@media (min-width: 300px) {
  .signup-input-div {
    display: inline-block;
    height: auto;
    width: 330px;
  }
}

@media (min-width: 576px) {
  .signup-input-div {
    display: inline-block;
    height: auto;
    width: 400px;
  }
}

@media (min-width: 768px) {
  .signup-input-div {
    display: table-cell;
    height: auto;
    width: 800px;
  }
}

@media (min-width: 992px) {
  .signup-input-div {
    display: table-cell;
    height: auto;
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .signup-input-div {
    display: table-cell;
    height: auto;
    width: 800px;
  }
}
