@media (min-width: 300px) {
  .HT-Work-P {
    width: 100%;
    text-align: center;
    line-height: 26px;
    color: #525151;
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  .HT-Work-P {
    width: 100%;
    text-align: center;
    line-height: 26px;
    color: #525151;
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .HT-Work-P {
    width: 100%;
    text-align: center;
    line-height: 26px;
    color: #525151;
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .HT-Work-P {
    width: 95%;
    text-align: center;
    line-height: 26px;
    color: #525151;
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .HT-Work-P {
    width: 80%;
    text-align: center;
    line-height: 30px;
    color: #525151;
    padding-bottom: 30px;
    padding-top: 0px;
    font-size: 16px;
  }
}

.align-jus {
  justify-content: center;
  display: flex;
}

@media (min-width: 300px) {
  .ht-work-heading-right {
    text-align: center;
    color: #C9AD85;
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .ht-work-heading-right {
    text-align: center;
    color: #C9AD85;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .ht-work-heading-right {
    text-align: right;
    color: #C9AD85;
    padding-right: 21px;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .ht-work-heading-right {
    text-align: right;
    color: #C9AD85;
    padding-right: 21px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .ht-work-heading-right {
    text-align: right;
    color: #C9AD85;
    padding-right: 21px;
    font-size: 18px;
  }
}

@media (min-width: 300px) {
  .ht-work-heading-left {
    text-align: center;
    color: #C9AD85;
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .ht-work-heading-left {
    text-align: center;
    color: #C9AD85;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .ht-work-heading-left {
    text-align: left;
    color: #C9AD85;
    padding-left: 19px;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .ht-work-heading-left {
    text-align: left;
    color: #C9AD85;
    padding-left: 19px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .ht-work-heading-left {
    text-align: left;
    color: #C9AD85;
    padding-left: 19px;
    font-size: 18px;
  }
}

@media (min-width: 300px) {
  .ht-work-div-p-right {
    text-align: center;
    color: #525151;
    font-size: 12px;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .ht-work-div-p-right {
    text-align: center;
    color: #525151;
    font-size: 12px;
    width: 100%;
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .ht-work-div-p-right {
    text-align: right;
    color: #525151;
    padding: 0px;
    font-size: 12px;
    width: 100%;
    float: right;
    padding-right: 24px;
  }
}

@media (min-width: 992px) {
  .ht-work-div-p-right {
    text-align: right;
    color: #525151;
    padding: 0px;
    font-size: 12px;
    width: 90%;
    float: right;
    padding-right: 24px;
  }
}

@media (min-width: 1200px) {
  .ht-work-div-p-right {
    text-align: right;
    color: #525151;
    padding: 0px;
    font-size: 12px;
    width: 79%;
    float: right;
    padding-right: 24px;
  }
}

@media (min-width: 300px) {
  .ht-work-div-p-left {
    text-align: center;
    color: #525151;
    padding: 0px;
    font-size: 12px;
    width: 100%;
    float: left;
    padding-left: 20px;
  }
}

@media (min-width: 576px) {
  .ht-work-div-p-left {
    text-align: center;
    color: #525151;
    padding: 0px;
    font-size: 12px;
    width: 100%;
    float: left;
  }
}

@media (min-width: 768px) {
  .ht-work-div-p-left {
    text-align: left;
    color: #525151;
    padding: 0px;
    font-size: 12px;
    width: 100%;
    float: left;
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .ht-work-div-p-left {
    text-align: left;
    color: #525151;
    padding: 0px;
    font-size: 12px;
    width: 90%;
    float: left;
    padding-left: 20px;
  }
}

@media (min-width: 1200px) {
  .ht-work-div-p-left {
    text-align: left;
    color: #525151;
    padding: 0px;
    font-size: 12px;
    width: 79%;
    float: left;
    padding-left: 20px;
  }
}

.ht-work-div {
  position: relative;
}

@media (min-width: 300px) {
  .ht-work-circle-right {
    /*position: absolute;*/
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    color: #fff;
    text-align: center;
    /*top: -65px;*/
    /*right: 140px;*/
  }
}

@media (min-width: 576px) {
  .ht-work-circle-right {
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .ht-work-circle-right {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
    top: 26px;
    right: -43px;
  }
}

@media (min-width: 992px) {
  .ht-work-circle-right {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
    top: 9px;
    right: -43px;
  }
}

@media (min-width: 1200px) {
  .ht-work-circle-right {
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
  }
}

.ho-work-circle {
  position: absolute;
  border: 2px solid #C9AD85;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #C9AD85;
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
}

@media (min-width: 300px) {
  .ho-circle-small {
    position: absolute;
    border: 2px solid #C9AD85;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #C9AD85;
    top: 45px;
    left: 150px;
    display: none;
  }
}

@media (min-width: 576px) {
  .ho-circle-small {
    position: absolute;
    border: 2px solid #C9AD85;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #C9AD85;
    top: 45px;
    left: 150px;
    display: none;
  }
}

@media (min-width: 768px) {
  .ho-circle-small {
    position: absolute;
    border: 2px solid #C9AD85;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #C9AD85;
    top: 45px;
    left: 136px;
    display: block;
  }
}

@media (min-width: 992px) {
  .ho-circle-small {
    position: absolute;
    border: 2px solid #C9AD85;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #C9AD85;
    top: 45px;
    left: 150px;
    display: block;
  }
}

@media (min-width: 1200px) {
  .ho-circle-small {
    position: absolute;
    border: 2px solid #C9AD85;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #C9AD85;
    top: 45px;
    left: 183px;
    display: block;
  }
}

@media (min-width: 300px) {
  .ht-work-circle-left {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    color: #fff;
    text-align: center;
    top: -63px;
    left: 42%;
  }
}

@media (min-width: 576px) {
  .ht-work-circle-left {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
    top: -63px;
    left: 245px;
  }
}

@media (min-width: 768px) {
  .ht-work-circle-left {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
    top: 25px;
    left: -32px;
  }
}

@media (min-width: 992px) {
  .ht-work-circle-left {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
    top: 9px;
    left: -32px;
  }
}

@media (min-width: 1200px) {
  .ht-work-circle-left {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
    top: 6px;
    left: -32px;
  }
}

@media (min-width: 300px) {
  .ht-work-line {
    position: absolute;
    border-left: 2px solid #C9AD85;
    height: 55px;
    top: 63px;
    right: 25px;
    display: none;
  }
}

@media (min-width: 576px) {
  .ht-work-line {
    position: absolute;
    border-left: 2px solid #C9AD85;
    height: 55px;
    top: 63px;
    right: 25px;
    display: none;
  }
}

@media (min-width: 768px) {
  .ht-work-line {
    position: absolute;
    border-left: 2px solid #C9AD85;
    height: 70px;
    top: 60px;
    right: 25px;
    display: flex;
  }
}

@media (min-width: 992px) {
  .ht-work-line {
    position: absolute;
    border-left: 2px solid #C9AD85;
    height: 50px;
    top: 63px;
    right: 25px;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .ht-work-line {
    position: absolute;
    border-left: 2px solid #C9AD85;
    height: 55px;
    top: 60px;
    right: 25px;
    display: flex;
  }
}

@media (min-width: 300px) {
  .ho-circle-line {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 117px;
    top: 49px;
    left: 96px;
    display: none;
  }
}

@media (min-width: 576px) {
  .ho-circle-line {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 117px;
    top: 49px;
    left: 96px;
    display: none;
  }
}

@media (min-width: 768px) {
  .ho-circle-line {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 85px;
    top: 49px;
    left: 96px;
    display: block;
  }
}

@media (min-width: 992px) {
  .ho-circle-line {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 117px;
    top: 49px;
    left: 96px;
    display: block;
  }
}

@media (min-width: 1200px) {
  .ho-circle-line {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 187px;
    top: 49px;
    left: 96px;
    display: block;
  }
}

@media (min-width: 300px) {
  .ho-circle-line-3 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 117px;
    top: 49px;
    left: 96px;
    display: none;
  }
}

@media (min-width: 576px) {
  .ho-circle-line-3 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 117px;
    top: 49px;
    left: 96px;
    display: none;
  }
}

@media (min-width: 768px) {
  .ho-circle-line-3 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 85px;
    top: 49px;
    left: 96px;
    display: block;
  }
}

@media (min-width: 992px) {
  .ho-circle-line-3 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 112px;
    top: 49px;
    left: 96px;
    display: block;
  }
}

@media (min-width: 1200px) {
  .ho-circle-line-3 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 187px;
    top: 49px;
    left: 96px;
    display: block;
  }
}

@media (min-width: 300px) {
  .ho-circle-line-2 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 117px;
    top: 49px;
    left: 96px;
    display: none;
  }
}

@media (min-width: 576px) {
  .ho-circle-line-2 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 117px;
    top: 49px;
    left: 96px;
    display: none;
  }
}

@media (min-width: 768px) {
  .ho-circle-line-2 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 85px;
    top: 49px;
    left: 96px;
    display: block;
  }
}

@media (min-width: 992px) {
  .ho-circle-line-2 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 117px;
    top: 49px;
    left: 96px;
    display: block;
  }
}

@media (min-width: 1200px) {
  .ho-circle-line-2 {
    position: absolute;
    border-top: 2px solid #C9AD85;
    width: 187px;
    top: 49px;
    left: 96px;
    display: block;
  }
}

@media (min-width: 300px) {
  .ht-work-circle-p {
    padding-top: 17px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
}

@media (min-width: 576px) {
  .ht-work-circle-p {
    padding-top: 17px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .ht-work-circle-p {
    padding-top: 17px;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
  }
}

@media (min-width: 992px) {
  .ht-work-circle-p {
    padding-top: 17px;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .ht-work-circle-p {
    padding-top: 17px;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
  }
}

@media (min-width: 300px) {
  .ht-work-row-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 576px) {
  .ht-work-row-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .ht-work-row-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .ht-work-row-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .ht-work-row-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.ht-work-border {
  width: 16%;
  justify-content: center!important;
}

.features-div-border {
  border-bottom: 3px solid #C9AD85;
  width: 8%;
  margin: auto;
  display: flex;
  justify-content: center !important;
}

.features-II-C-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.featu-II-bg {
  background-image: url("../../assets/img/coffee4.jpg");
  background-size: cover;
  position: relative;
}

.ht-work-div-padding {
  padding-bottom: 40px;
}

.Feat-II-Bg-color {
  background-color: rgba(58,61,70,0.95);
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

@media (min-width: 300px) {
  .Feat-div {
    width: 85%;
    height: auto;
    margin: auto;
  }
}

@media (min-width: 576px) {
  .Feat-div {
    width: 75%;
    height: auto;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .Feat-div {
    width: 95%;
    height: auto;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .Feat-div {
    width: 85%;
    height: auto;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .Feat-div {
    width: 75%;
    height: auto;
    margin: auto;
  }
}

.features-div {
  padding-bottom: 40px;
}

.test-div {
  background-color: #3B3D47;
  padding-bottom: 40px;
}

.test-div-col {
  background-color: #caac86;
  border-radius: 3%;
}

.test-div-p {
  text-align: justify;
  color: #40434d;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 25px;
}

@media (min-width: 300px) {
  .test-face-circle {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: #fff;
    text-align: center;
    bottom: 100px;
  }
}

@media (min-width: 576px) {
  .test-face-circle {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: #fff;
    text-align: center;
    bottom: 100px;
  }
}

@media (min-width: 768px) {
  .test-face-circle {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: #fff;
    text-align: center;
    bottom: 55px;
  }
}

@media (min-width: 992px) {
  .test-face-circle {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: #fff;
    text-align: center;
    bottom: 55px;
  }
}

@media (min-width: 1200px) {
  .test-face-circle {
    position: absolute;
    border: 2px solid #C9AD85;
    background: #C9AD85;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: #fff;
    text-align: center;
    bottom: 55px;
    z-index: 1;
  }
}

.test-card-heading {
  padding-top: 52px;
  color: #caac86;
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  font-style: normal;
}

.test-card-p {
  text-align: center;
  color: #fff;
  padding-top: 5px;
}

@media (min-width: 300px) {
  .ho-II-heading {
    padding-top: 4em;
    padding-bottom: 3em;
  }
}

@media (min-width: 576px) {
  .ho-II-heading {
    padding-top: 4em;
    padding-bottom: 5em;
  }
}

@media (min-width: 768px) {
  .ho-II-heading {
    padding-top: 4em;
    padding-bottom: 6em;
  }
}

@media (min-width: 992px) {
  .ho-II-heading {
    padding-top: 4em;
    padding-bottom: 6em;
  }
}

@media (min-width: 1200px) {
  .ho-II-heading {
    padding-top: 3em;
    padding-bottom: 8em;
  }
}

@media (min-width: 300px) {
  .ho-II-Div {
    background-color: #3B3D47;
    padding-bottom: 2em;
  }
}

@media (min-width: 576px) {
  .ho-II-Div {
    background-color: #3B3D47;
    padding-bottom: 2em;
  }
}

@media (min-width: 768px) {
  .ho-II-Div {
    background-color: #3B3D47;
    padding-bottom: 9em;
  }
}

@media (min-width: 992px) {
  .ho-II-Div {
    background-color: #3B3D47;
    padding-bottom: 9em;
  }
}

@media (min-width: 1200px) {
  .ho-II-Div {
    background-color: #3B3D47;
    padding-bottom: 9em;
  }
}

@media (min-width: 300px) {
  .ho-II-cir-1 {
    position: relative;
    left: 0px;
  }
}

@media (min-width: 576px) {
  .ho-II-cir-1 {
    position: relative;
    left: 0px;
  }
}

@media (min-width: 768px) {
  .ho-II-cir-1 {
    position: relative;
    left: 5px;
  }
}

@media (min-width: 992px) {
  .ho-II-cir-1 {
    position: relative;
    left: 93px;
  }
}

@media (min-width: 1200px) {
  .ho-II-cir-1 {
    position: relative;
    left: 80px;
  }
}

@media (min-width: 300px) {
  .ho-II-cir-2 {
    position: relative;
    left: 0px;
  }
}

@media (min-width: 576px) {
  .ho-II-cir-2 {
    position: relative;
    left: 4px;
  }
}

@media (min-width: 768px) {
  .ho-II-cir-2 {
    position: relative;
    left: 7px;
  }
}

@media (min-width: 992px) {
  .ho-II-cir-2 {
    position: relative;
    left: 68px;
  }
}

@media (min-width: 1200px) {
  .ho-II-cir-2 {
    position: relative;
    left: 80px;
  }
}

@media (min-width: 300px) {
  .ho-II-cir-3 {
    position: relative;
    left: 0px;
  }
}

@media (min-width: 576px) {
  .ho-II-cir-3 {
    position: relative;
    left: 0px;
  }
}

@media (min-width: 768px) {
  .ho-II-cir-3 {
    position: relative;
    left: 9px;
  }
}

@media (min-width: 992px) {
  .ho-II-cir-3 {
    position: relative;
    left: 43px;
  }
}

@media (min-width: 1200px) {
  .ho-II-cir-3 {
    position: relative;
    left: 80px;
  }
}

@media (min-width: 300px) {
  .ho-II-cir-4 {
    position: relative;
    right: 0px;
  }
}

@media (min-width: 576px) {
  .ho-II-cir-4 {
    position: relative;
    right: 0px;
  }
}

@media (min-width: 768px) {
  .ho-II-cir-4 {
    position: relative;
    left: 11px;
  }
}

@media (min-width: 992px) {
  .ho-II-cir-4 {
    position: relative;
    right: -18px;
  }
}

@media (min-width: 1200px) {
  .ho-II-cir-4 {
    position: relative;
    left: 80px;
  }
}

ul-bull li:before {
  color: #caac86;
  font-size: 29px;
  content: '✓';
  position: absolute;
  left: -25px;
}

.list-ul li {
  position: relative;
  padding-left: 0em;
  padding-top: 1.5em;
  padding-right: 5px;
}

