<app-header></app-header>
    <div style="height: 40px;"></div>
    <div class="login-card">
        <div class="d-tab-size">
            <ul class="nav nav-tabs tab-login-border">
                <li class="nav-item nav-tab-login"><a class="nav-link active l-login" role="tab" data-toggle="tab" href="#tab-1">Log in</a></li>
                <li class="nav-item nav-tab-login"><a class="nav-link l-login" role="tab" data-toggle="tab" href="#tab-2">Sign Up</a></li>
            </ul>
            <div class="tab-content tab-content-ali">
                <div class="tab-pane active" role="tabpanel" id="tab-1">
                <div><app-login-module></app-login-module></div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-2">
                    <div><app-signup-module></app-signup-module></div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 40px;"></div>
    <app-footer></app-footer>
