<form id="frm" [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
  <h1 class="head-font-login">Sign Up for Free<br></h1>
  <div class="signup-input-div">
    <div class="input-div-signup">
      <div class="name-d-signup"><input class="form-control btn-input" type="text" id="firstname-signup" formControlName="firstName" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
        <div *ngIf="submitted && f.firstName.errors" class="error">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
          <div *ngIf="f.firstName.errors.pattern">Please input alphabet characters only</div>
        </div>
      </div>
      <div class="name-d-signup"><input class="form-control btn-input" type="text" id="lastname-signup" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
        <div *ngIf="submitted && f.lastName.errors" class="error">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          <div *ngIf="f.lastName.errors.pattern">Please input alphabet characters only</div>
        </div>
      </div>
    </div>
    <div class="input-div-ali"><input class="form-control btn-input" type="email" id="email-signup" placeholder="Email Address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      <div *ngIf="submitted && f.email.errors" class="error">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div class="input-div-ali"><input class="form-control btn-input" type="password" id="psword" placeholder="Set a Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <div *ngIf="submitted && f.password.errors" class="error">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.pattern">Password must be at least 8 characters password pattern:Aa1@</div>
      </div>
      <div class="d-flex justify-content-center">
        <div id="message" class="message">
          <div style="margin: auto;">
            <p class="invalid letter">A lowercase letter</p>
            <p class="invalid capital">A capital (uppercase) letter</p>
            <p class="invalid number">A number</p>
            <p class="invalid length">Minimum 8 characters</p>
          </div>
        </div>
      </div>
    </div>
    <div class="input-div-btn"><button class="btn btn-danger" id="signup-btm" style="border: none;width: 75%;height: 58px;background-color: #3b3d47;color: rgb(255,255,255);" type="submit" value="submit">Get Started</button></div>
  </div>
</form>
