<div id="H1" class="bg-div">
    <div class="Header-color-sh">
        <div class="container logo">
            <nav class="navbar navbar-light navbar-expand-lg sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        </a><div><a class="navbar-brand" ></a><a routerLink="/home" routerLinkActive="active" href="#"><img class="logo-img-size" src="assets/img/coffee-stop-logo-v2.png"></a></div>
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav mx-auto">
                            <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link active header-menu-color-padding" routerLink="/home" routerLinkActive="active"  href="#">Home</a></li>
                            <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" href="#">About</a></li>
                            <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" href="#">Partner</a></li>
                            <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" href="#">Blog</a></li>
                            <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" href="#">Press</a></li>
                            <li class="nav-item nav-item-menu-padding" role="presentation"><a class="nav-link header-menu-color-padding" routerLink="/contact" routerLinkActive="active" href="#">Contact</a></li>
                            <li class="nav-item nav-item-menu-padding login-d2-none" role="presentation"><a class="nav-link header-menu-color-padding" style="color:#ffffff;" routerLink="/login_signup" routerLinkActive="active" href="#"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></li>
                        </ul>
                    </div>
                    <div class="login-d-none"><a class="header-menu-color-padding" style="color:#ffffff;" routerLink="/login_signup" routerLinkActive="active" href="#"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></div>
                </div>
            </nav>
        </div>
        <div class="menu-buttom-div"></div>
        <app-slider></app-slider>
    </div>
</div>
<div id="HW-1" class="works-div">
    <div class="container container-works-padding">
        <h2 class="H2-Work">HOW IT WORKS</h2>
    </div>
    <div class="container container-work-cart">
        <div class="row">
            <div class="col-lg-4 col-align">
                <div class="work-div-part">
                    <div class="work-dive-circle">
                        <p class="work-circle-text">1</p>
                    </div>
                    <div class="col-align works-icon-pa-font-size"><i class="fa fa-twitter"></i></div>
                    <p class="p-center-align">LOREM IPSUM</p>
                    <p class="p-works-cart">Esse noster ne quo. Ex saepe similique duo</p>
                </div>
            </div>
            <div class="col-lg-4 col-align">
                <div class="work-div-part">
                    <div class="work-dive-circle">
                        <p class="work-circle-text">2</p>
                    </div>
                    <div class="col-align works-icon-pa-font-size"><i class="fa fa-facebook-f"></i></div>
                    <p class="p-center-align">LOREM IPSUM</p>
                    <p class="feat-card-p">Esse noster ne quo. Ex saepe similique duo</p>
                </div>
            </div>
            <div class="col-lg-4 col-align">
                <div class="work-div-part">
                    <div class="work-dive-circle">
                        <p class="work-circle-text">2</p>
                    </div>
                    <div class="col-align works-icon-pa-font-size"><i class="fa fa-github"></i></div>
                    <p class="p-center-align">LOREM IPSUM</p>
                    <p class="p-works-cart">Esse noster ne quo. Ex saepe similique duo</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ht-work-div-padding ht-display-mobile">
    <div class="container container-works-padding">
        <div>
            <h2 class="h2-features">How it Works</h2>
        </div>
    </div>
    <div class="container align-jus">
        <p class="HT-Work-P">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque. Iaculis nunc sed augue lacus viverra vitae congue
            eu consequat.<br></p>
    </div>
    <div class="container">
        <div class="row d-sm-flex ht-work-row-padding">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="d-flex d-sm-flex justify-content-center justify-content-sm-center cir-padding">
                    <div class="ht-work-circle-right">
                        <p class="ht-work-circle-p">01</p>
                    </div>
                </div>
                <div>
                    <h5 class="ht-work-heading-right">Lorem Ipsum dolor</h5>
                    <p class="ht-work-div-p-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                </div>
            </div>
        </div>
        <div class="row d-sm-flex ht-work-row-padding">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="d-flex d-sm-flex justify-content-center justify-content-sm-center cir-padding">
                    <div class="ht-work-circle-right">
                        <p class="ht-work-circle-p">02</p>
                    </div>
                </div>
                <div>
                    <h5 class="ht-work-heading-right">Lorem Ipsum dolor</h5>
                    <p class="ht-work-div-p-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                </div>
            </div>
        </div>
        <div class="row d-sm-flex ht-work-row-padding">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="d-flex d-sm-flex justify-content-center justify-content-sm-center cir-padding">
                    <div class="ht-work-circle-right">
                        <p class="ht-work-circle-p">03</p>
                    </div>
                </div>
                <div>
                    <h5 class="ht-work-heading-right">Lorem Ipsum dolor</h5>
                    <p class="ht-work-div-p-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                </div>
            </div>
        </div>
        <div class="row d-sm-flex ht-work-row-padding">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="d-flex d-sm-flex justify-content-center justify-content-sm-center cir-padding">
                    <div class="ht-work-circle-right">
                        <p class="ht-work-circle-p">04</p>
                    </div>
                </div>
                <div>
                    <h5 class="ht-work-heading-right">Lorem Ipsum dolor</h5>
                    <p class="ht-work-div-p-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ht-work-div-padding ht-display">
    <div class="container container-works-padding">
        <div>
            <h2 class="h2-features">How it Works</h2>
        </div>
    </div>
    <div class="container align-jus">
        <p class="HT-Work-P">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque. Iaculis nunc sed augue lacus viverra vitae congue
            eu consequat.<br></p>
    </div>
    <div class="container">
        <div class="row ht-work-row-padding">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="ht-work-div">
                    <h5 class="ht-work-heading-right">Lorem Ipsum dolor</h5>
                    <p class="ht-work-div-p-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                    <div class="ht-work-circle-right">
                        <p class="ht-work-circle-p">01</p>
                        <div class="ht-work-line"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div></div>
            </div>
        </div>
        <div class="row ht-work-row-padding">
            <div class="col">
                <div></div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div>
                    <h5 class="ht-work-heading-left">Lorem Ipsum dolor</h5>
                    <p class="ht-work-div-p-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                    <div class="ht-work-circle-left">
                        <p class="ht-work-circle-p">02</p>
                        <div class="ht-work-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ht-work-row-padding">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="ht-work-div">
                    <h5 class="ht-work-heading-right">Lorem Ipsum dolor</h5>
                    <p class="ht-work-div-p-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                    <div class="ht-work-circle-right">
                        <p class="ht-work-circle-p">03</p>
                        <div class="ht-work-line"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div></div>
            </div>
        </div>
        <div class="row ht-work-row-padding">
            <div class="col">
                <div></div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div>
                    <h5 class="ht-work-heading-left">Lorem Ipsum dolor</h5>
                    <p class="ht-work-div-p-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                    <div class="ht-work-circle-left">
                        <p class="ht-work-circle-p">04</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="featu-II-bg">
    <div class="Feat-II-Bg-color">
        <div class="container features-II-C-padding">
            <h2 class="h2-features">FEATUREES</h2>
        </div>
        <div class="container">
            <div class="row d-flex d-sm-flex justify-content-center justify-content-sm-center">
                <div class="col-11 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    <div class="Feat-div">
                        <div class="card-head-div"><i class="fa fa-compass fe-card-icon"></i></div>
                        <div class="feat-card-bottom">
                            <h1 class="feat-card-heading">Lorem Ipsum dolor<br></h1>
                            <p class="feat-card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    <div class="Feat-div">
                        <div class="card-head-div"><i class="fa fa-tag fe-card-icon"></i></div>
                        <div class="feat-card-bottom">
                            <h1 class="feat-card-heading">Lorem Ipsum dolor<br></h1>
                            <p class="feat-card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    <div class="Feat-div">
                        <div class="card-head-div"><i class="fa fa-credit-card-alt fe-card-icon"></i></div>
                        <div class="feat-card-bottom">
                            <h1 class="feat-card-heading">Lorem Ipsum dolor<br></h1>
                            <p class="feat-card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-works-padding">
    <div>
        <div class="container container-works-padding">
            <div class="features-div-border">
                <h2 class="h2-features">FEATURES</h2>
            </div>
        </div>
    </div>
    <div>
        <div class="container col-align">
            <div class="Tab-size">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">FEATURE 1</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">FEATURE 2<br></a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">FEATURE 3<br></a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">FEATURE 4<br></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="row">
                            <div class="col">
                                <ul class="ul-bull">
                                    <li class="li-list li-bu">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="ul-bull">
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-4">
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                    <li class="li-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="test-div">
    <div class="container features-II-C-padding">
        <h2 class="h2-features">TESTIMONIALS</h2>
    </div>
    <div class="container">
        <div class="row d-flex d-sm-flex justify-content-center justify-content-sm-center">
            <div class="col-11 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                <div class="Test-div-size">
                    <div class="test-div-col">
                        <p class="test-div-p"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                    </div>
                    <div class="cri-div-center">
                        <div class="test-face-circle" style="background-image: url(&quot;assets/img/team-circle1.png&quot;);background-size: cover;"></div>
                    </div>
                    <p class="test-card-heading"><strong>Carolyn Taylor</strong><br></p>
                    <p class="test-card-p">CEO, Coffee Stops</p>
                </div>
            </div>
            <div class="col-11 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                <div class="Test-div-size">
                    <div class="test-div-col">
                        <p class="test-div-p"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                    </div>
                    <div class="cri-div-center">
                        <div class="test-face-circle" style="background-image: url(&quot;assets/img/team-circle4.png&quot;);background-size: cover;"></div>
                    </div>
                    <p class="test-card-heading">Mark Jerkins</p>
                    <p class="test-card-p">MANAGER, Coffee Stops</p>
                </div>
            </div>
            <div class="col-11 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                <div class="Test-div-size">
                    <div class="test-div-col">
                        <p class="test-div-p"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.<br></p>
                    </div>
                    <div class="cri-div-center">
                        <div class="test-face-circle" style="background-image: url(&quot;assets/img/team-circle1.png&quot;);background-size: cover;"></div>
                    </div>
                    <p class="test-card-heading"><strong>Carolyn Taylor</strong><br></p>
                    <p class="test-card-p">CEO, Coffee Stops</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ho-II-Div">
    <div class="container ho-II-heading">
        <h2 class="Feat-III-Heading">HOW IT WORKS</h2>
    </div>
    <div class="container">
        <div>
            <div class="row d-flex">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 offset-lg-0 d-flex justify-content-center justify-content-lg-start justify-content-xl-start col-padding-II">
                    <div class="ho-II-cir-main-div ho-II-cir-1">
                        <div class="ho-work-circle"><i class="fa fa-compass"></i>
                            <div class="ho-circle-line"></div>
                            <div class="ho-circle-small"></div>
                        </div>
                        <h3 class="ho-circle-heading">LOREM IPSUM DOLOR SIT</h3>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center justify-content-lg-start justify-content-xl-start col-padding-II">
                    <div class="ho-II-cir-main-div ho-II-cir-2">
                        <div class="ho-work-circle"><i class="fa fa-tags"></i>
                            <div class="ho-circle-line-2"></div>
                            <div class="ho-circle-small"></div>
                        </div>
                        <h3 class="ho-circle-heading">LOREM IPSUM DOLOR SIT</h3>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center justify-content-lg-start justify-content-xl-start col-padding-II">
                    <div class="ho-II-cir-main-div ho-II-cir-3">
                        <div class="ho-work-circle"><i class="fa fa-coffee"></i>
                            <div class="ho-circle-line-3"></div>
                            <div class="ho-circle-small"></div>
                        </div>
                        <h3 class="ho-circle-heading">LOREM IPSUM DOLOR SIT</h3>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center justify-content-lg-start justify-content-xl-start col-padding-II">
                    <div class="ho-II-cir-main-div ho-II-cir-4">
                        <div class="ho-work-circle"><i class="fa fa-credit-card-alt"></i></div>
                        <h3 class="ho-circle-heading">LOREM IPSUM DOLOR SIT</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features-III-div">
    <div class="container Feat-III-con">
        <h2 class="Feat-III-Heading">FEATURES</h2>
    </div>
    <div class="container">
        <div style="background-color: #fff;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-md-0">
                    <div class="fe-div-III">
                        <h3 class="fe-III-heading">Lorem Ipsum</h3>
                    </div>
                    <ul class="list-ul">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;<br></li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;<br></li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do &nbsp; &nbsp; eiusmod tempor incididunt ut labore et dolore magna aliqua.<br></li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;<br></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 ft-img-top-padding">
                    <div style="background-image: url(&quot;assets/img/coffee4.jpg&quot;);height: 455px;background-size: cover;">
                        <div style="background-color: rgba(59,61,71,0.55);width: 100%;height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="kp-body">
    <div class="container KP-head">
        <div>
            <h1 class="KP-heading">KEEP IN TOUCH</h1>
            <p class="KP-P">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br></p>
        </div>
        <div class="KP-line-center">
            <div class="d-xl-flex Kp-line-div">
                <hr><i class="fa fa-star KP-icon"></i>
                <hr class="float-right">
            </div>
        </div>
    </div>
    <div class="container register-photo" >
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 col-lg-4 col-xl-4 d-flex justify-content-center">
                <form class="info-body" >
                    <div>
                        <h3 class="info-heading">Address</h3>
                        <p>Keas 69 Str.<br>15234, Chalandri<br>Athens,<br>Greece<br></p>
                        <h3 class="info-heading">Call us</h3>
                        <p>+91 99999 55555<br>+91 88888 55555<br></p>
                        <h3 class="info-heading">Email us</h3>
                        <p>lorem@imsum.com</p>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-5 col-xl-4 d-flex d-lg-flex justify-content-center justify-content-lg-center info-sent">
                <form>
                    <div class="form-group"><input class="form-control" type="text"  placeholder="Name"></div>
                    <div class="form-group"><input class="form-control" type="email"  placeholder="Email"></div>
                    <div class="form-group"><input class="form-control" type="password"  placeholder="Password"></div>
                    <div class="form-group"><textarea class="form-control msg" placeholder="Message" ></textarea></div>
                    <div class="form-group"><button class="btn btn-primary" type="button">SEND</button></div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<app-footer></app-footer>
